*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color:red;
    text-transform: uppercase;
    padding-bottom: 20px;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.calculator{
    flex:0 0 95%;
    background-color: aqua;
    padding: 2rem 2rem;
}

.screen{
    width:100%;
    font-size: 30px;
    padding: 2rem;
    background-color: rgb(56, 53, 53);
    color:white;
    border: none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
    
}

button{
    flex: 0 0 25%;
    transition: all 0.5s linear;
    padding: 1rem 0;
    border: 1px solid black;
    }

button:hover{
    background-color:rgb(74, 74, 171);
    cursor: pointer;
}

.btn-operator{
    background-color:rgb(255, 170, 0);
    color:white;
    font-size:30px;
}

.btn-number{
    background-color: grey;
    color:white;
    font-size:30px;
}

.btn-equal{
    background-color: rgb(112, 172, 112);
  
}

.btn-clear{
    background-color: rgb(199, 69, 69);
}

.btn-equal,.btn-clear{
    color:white;
    font-size:30px;
}



